/* 
colors:
#F25C54; coral
#00A8BB; blue
*/

/* GENERAL */
.navbar, #navbarHeader {
    background-color: #00A8BB;
}

#navbarHeader p, #navbarHeader ul, footer p {
    font-size: medium;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    color: white;
    text-decoration: underline;
}

.font-league-spartan {
    font-family: 'League Spartan';
}

.font-sanchez {
    font-family: 'Sanchez';
}

.blue-text {
    color: #00A8BB;
}

.coral-text {
    color: #F25C54;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card-text {
    font-size: large;
}

.fa-at {
    padding-left: 1.5px;
    padding-right: 1.5px;
}

.logo-banner-div {
    width: 90%;
    text-align: center;
    margin: auto;
}

.logo-banner-div img {
    pointer-events: none;
}

.logo-banner-div h4 {
    user-select: none;
}

/* INDEX */
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    margin-bottom: 20px;
}

.search input {
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #a7a7a7;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 16px;
}

.album {
    background-color: #EBFDFF;
}

/* MEET THE CREW */
.crew-container {
    background-color: white;
    margin-top: 80px;
    border-radius: 50px;
    padding-top: 0;
}

.crew-container-first {
    margin-top: 30px;
}

.crew-img {
    max-height: 350px;
    width: auto;
}

.crew-img-div {
    justify-content: center; 
    padding-top: 0;
    margin-top: 0;
}

.crew-text-div {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}